<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main class="main--index">
                
                <div>
                    <h1>Nuevos Productos</h1>
                </div>
                <section class="contenedor--tarjetas-index">
                    <% nuevos.forEach(({title, description, id, images,category, price, discount})=> { %>

                        <article class="tarjeta--individual-index">
                            <div class="img--trajeta">
                                <img class="img--trajeta" src="/images/productos/<%= images.find(image => image.main).file || 'producto-sin-imagen.png' %>" alt="">
                            </div>
                            <h4 class="titulo--tarjeta"> <%= title %> </h4>
                            <div class="index--price-discount__box">
                                <p class="precio--tarjeta"> <%= toThousand((price - (price * discount / 100)).toFixed(0))  %> </p>
                                 <% if (discount) { %>
                                    <p class="index--space">/</p>
                                    <p class="index--discount__p">% <%= discount %> OFF</p>
                                <% } %>
                            </div>
                            <button class="boton--tarjeta"><a href="/products/detail/<%= id %>">VER MAS</a></button>
                        </article>   

                        <% }) %>
                </section>
                
                <div>
                    <h1>Mas Visitadas</h1>
                </div>
                <section class="contenedor--tarjetas-index">

                    

                    <% visitados.forEach(({title, description, id, images,category, price, discount})=> { %>
                       
                         
                       
                        <article class="tarjeta--individual-index">
                            <div class="img--trajeta">
                                <img class="img--trajeta" src="/images/productos/<%= images.find(image => image.main).file || 'producto-sin-imagen.png' %>" alt="">
                            </div>
                            <h4 class="titulo--tarjeta"> <%= title %> </h4>
                            <div class="index--price-discount__box">
                                <p class="precio--tarjeta"> <%= toThousand((price - (price * discount / 100)).toFixed(0))  %> </p>
                                 <% if (discount) { %>
                                    <p class="index--space">/</p>
                                    <p class="index--discount__p">% <%= discount %> OFF</p>
                                <% } %>
                            </div>
                            <button class="boton--tarjeta"><a href="/products/detail/<%= id %>">VER MAS</a></button>
                        </article>   
                        
                        <% }) %>
                           

                </section>
                <div>
                    <h3>OFERTAS</h3>
                </div>
                <section class="contenedor--tarjetas-index">
                    

                <% ofertas.forEach(({title, description, id, images,category, price, discount})=> { %>
                       
                         
                       
                        <article class="tarjeta--individual-index">
                            <div class="img--trajeta">
                                <img class="img--trajeta" src="/images/productos/<%= images.find(image => image.main).file || 'producto-sin-imagen.png' %>" alt="">
                            </div>
                            <h4 class="titulo--tarjeta"> <%= title %> </h4>
                            <div class="index--price-discount__box">
                                <p class="precio--tarjeta"> <%= toThousand((price - (price * discount / 100)).toFixed(0))  %> </p>
                                 <% if (discount) { %>
                                    <p class="index--space">/</p>
                                    <p class="index--discount__p">% <%= discount %> OFF</p>
                                <% } %>
                            </div>
                            <button class="boton--tarjeta"><a href="/products/detail/<%= id %>">VER MAS</a></button>
                        </article>   
                        
                        <% }) %>

                </section>
            </main>
            <%- include('partials/scripts') %>
            <%- include('partials/footer') %>
            
    </body>
</html>