<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main class="main--index">
                <section class="contenedor--tarjetas-index">
                    <% products.forEach(({image, title, price, id})=> { %>

                        <article class="tarjeta--individual-index">
                            <img class="img--trajeta" src="/images/products/<%= image %>" alt="">
                            <h4 class="titulo--tarjeta">
                                <%= title %>
                            </h4>
                            <p class="precio--tarjeta">
                                <%= toThousand((price).toFixed(0)) %>
                            </p>
                            <button class="boton--tarjeta"><a href="/products/detail/<%= id %>">VER MAS</a></button>
                        </article>

                        <% }) %>
                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>