<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body class="productAdd">

        <%- include('partials/header') %>

            <main class="login">
                <div class="login__box">

                    <div class="login__box__encabezado">

                        <a href="/" class="rotate-scale-up-ver"><img src="/images/celstecortado.jpg" alt=""></a>
                        <h4 class="animate__animated animate__flash">CARGA DE PRODUCTOS</h4>
                        
                    </div>

                    <div class="login__box__cuerpo container">
                        
                        <form action="" method="POST" enctype="multipart/form-data" class="row">

                            <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="title" class="form-label">Nombre del Producto</label>
                                <input type="text" class="form-input <%= locals.errors && (errors.title && 'is-invalid') %>" id="title" placeholder="Nombre del Producto" name="title" value="<%= locals.old && (old.title && old.title ) %>">
                                <small class="text-danger ms-2">
                                  <%= locals.errors && (errors.title && errors.title.msg) %>
                                </small>
                              </div>

                              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="categoryId" class="form-label">Categoria</label>
                                <select class="form-input <%= locals.errors && (errors.categoryId && 'is-invalid') %>" aria-label="Default select example" name="categoryId" id="categoryId">
                                    <option value="" selected hidden>Seleccione ....</option>
                                    <% categories.forEach(category => { %>
                                      <option value="<%= category.id %>" <%=locals.old && (locals.old.categoryId === category.id
                                        && 'selected' ) %>>
                                        <%= category.title %>
                                      </option>
                                      <% }) %>
                                  </select>
                                  <small class="text-danger ms-2">
                                    <%= locals.errors && (errors.categoryId && errors.categoryId.msg) %>
                                  </small>
                              </div>

                              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="sectionId" class="form-label">Caracteristica</label>
                                <select class="form-input <%= locals.errors && (errors.sectionId && 'is-invalid') %>" aria-label="Default select example" name="sectionId" id="sectionId">
                                    <option value="" selected hidden>Seleccione ....</option>
                                    <% sections.forEach(section=> { %>
                                      <option value="<%= section.id %>" <%=locals.old && (locals.old.sectionId===section.id
                                        && 'selected' ) %>>
                                        <%= section.title %>
                                      </option>
                                      <% }) %>
                                  </select>
                                  <small class="text-danger ms-2">
                                    <%= locals.errors && (errors.sectionId&& errors.sectionId.msg) %>
                                  </small>
                              </div>

                              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="regionId" class="form-label">Region</label>
                                <select class="form-input <%= locals.errors && (errors.regionId && 'is-invalid') %>" aria-label="Default select example" name="regionId" id="regionId">
                                    <option value="" selected hidden>Seleccione ....</option>
                                    
                                    <% regions.forEach(region => { %>
                                                                         
                                      <option value="<%= region.id %>" <%=locals.old && (locals.old.regionId === region.id
                                        && 'selected' ) %>>
                                        <%= region.title %>
                                      </option>

                                      <% }) %>

                                  </select>
                                  <small class="text-danger ms-2">
                                    <%= locals.errors && (errors.regionId && errors.regionId.msg) %>
                                  </small>
                              </div>

                              
                              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="price" class="form-label">Precio</label>
                                <input type="number" class="form-input <%= locals.errors && (errors.price && 'is-invalid') %>" id="price" placeholder="Precio" name="price" value="<%= locals.old && (old.price && old.price ) %>">
                                <small class="text-danger ms-2">
                                  <%= locals.errors && (errors.price && errors.price.msg) %>
                                </small>
                              </div>

                              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="discount" class="form-label">Descuento</label>
                                <input type="number" class="form-input <%= locals.errors && (errors.discount && 'is-invalid') %>" id="discount" placeholder="Descuento" name="discount" value="<%= locals.old && (old.discount && old.discount ) %>">
                              </div>

                              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="amount" class="form-label">Cantidad Disponible</label>
                                <input type="number" class="form-input <%= locals.errors && (errors.amount && 'is-invalid') %>" id="amount" placeholder="Cantidad Disponible" name="amount" id="amount" value="<%= locals.old && (old.amount && old.amount ) %>">
                                <small class="text-danger ms-2">
                                  <%= locals.errors && (errors.amount && errors.amount.msg) %>
                                </small>
                              </div>
        
                              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido">
                                <label for="amountmin" class="form-label">Cantidad Minima</label>
                                <input type="number" class="form-input <%= locals.errors && (errors.amountmin && 'is-invalid') %>" id="amountmin" placeholder="Cantidad Minima" name="amountmin" id="amountmin" value="<%= locals.old && (old.amountmin && old.amountmin ) %>">
                                <small class="text-danger ms-2">
                                  <%= locals.errors && (errors.amountmin && errors.amountmin.msg) %>
                                </small>
                              </div>


                              <div class="col-12 mb-3 login__box__cuerpo__contenido">
                                <label for="description" class="form-label">Descripcion</label>
                                <textarea name="description" id="description" class="form-input" style="resize: none"><%= locals.old && (old.description && old.description ) %></textarea>
                                <small class="text-danger ms-2">
                                  <%= locals.errors && (errors.description && errors.description.msg) %>
                                </small>
                              </div>

                              

                              <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                                <small class="text-danger ms-2">
                                  <%= locals.errors && (errors.image && errors.image.msg) %>
                                </small>
                                <label for="image" class="btn <%= (locals.errors && errors.image) ? 'btn-danger' %>">Imagen Principal</label>
                                <input type="file" name="image" id="image" hidden />
                                <label for="images" class="btn btn-secondary">Images</label>
                                <input type="file" multiple name="images" id="images" hidden />
                                <button class="btn btn-outline-dark">Guardar Cambios</button>
                              </div>

                        </form>
                    </div>



                </div>

            </main>
            <%- include('partials/footer') %>
    </body>

</html>