<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>

    <%- include('partials/header') %>

      <main class="login">
        <div class="login__box">

          <div class="login__box__encabezado">

            <a href="/" class="rotate-scale-up-ver"><img src="/images/celstecortado.jpg" alt=""></a>
            <h4 class="animate__animated animate__flash">EDICION PRODUCTOS</h4>

          </div>
          <!--Inicio -->
          
            <form action="/products/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="register__box__cuerpo container">

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="title" class="form-label">Nombre del Producto</label>
                <input type="text" class="form-input <%= locals.errors && (errors.title && 'is-invalid') %>" id="title" placeholder="Nombre del Producto" name="title" value="<%= title %>">
                <small class="text-danger ms-2">
                  <%= locals.errors && (errors.title && errors.title.msg) %>
                </small>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="categoryId" class="form-label">Categoria</label>
                <select class="form-input <%= locals.errors && (errors.categoryId && 'is-invalid') %>" aria-label="Default select example" name="categoryId" id="categoryId">
                  
                  <% categories.forEach(category=> { %>
                    <option value="<%= category.id%>"<%= categoryId===category.id && 'selected' %>><%= category.title %>
                    </option>
                    <% }) %>
                </select>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="regionId" class="form-label">Region</label>
                <select class="form-input <%= locals.errors && (errors.regionId && 'is-invalid') %>" aria-label="Default select example" name="regionId" id="regionId">
                  
                  <% regiones.forEach(region=> { %>
                    <option value="<%= region.id %>" <%= regionId === region.id && 'selected' %>><%= region.title %>
                    </option>
                    <% }) %>
                </select>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="sectionId" class="form-label">Caracteristica</label>
                <select class="form-input <%= locals.errors && (errors.sectionId && 'is-invalid') %>" aria-label="Default select example" name="sectionId" id="sectionId">
                  
                  <% sections.forEach(section=> { %>
                    <option value="<%= section.id %>" <%= sectionId === section.id && 'selected' %>><%= section.title %>
                    </option>
                    <% }) %>
                </select>
                
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="price" class="form-label">Precio</label>
                <input type="number" class="form-input <%= locals.errors && (errors.price && 'is-invalid') %>" id="price" placeholder="Precio" name="price"
                  value="<%= price %>">
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.price && errors.price.msg) %>
                  </small>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="discount" class="form-label">Descuento</label>
                <input type="number" class="form-input <%= locals.errors && (errors.discount && 'is-invalid') %>" id="discount" placeholder="Descuento" name="discount"
                  value="<%= discount %>">
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="amount" class="form-label">Cantidad Disponible</label>
                <input type="number" class="form-input <%= locals.errors && (errors.amount && 'is-invalid') %>" id="amount" placeholder="Cantidad Disponible" name="amount"
                  value="<%= amount %>">
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.amount && errors.amount.msg) %>
                  </small>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="amountmin" class="form-label">Cantidad Minima</label>
                <input type="number" class="form-input <%= locals.errors && (errors.amountmin && 'is-invalid') %>" id="amountmin" placeholder="Cantidad Minima" name="amountmin"
                  value="<%= amountmin %>">
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.amountmin && errors.amountmin.msg) %>
                  </small>
              </div>


              <div class="col-12 mb-3 login__box__cuerpo__contenido dos">
                <label for="description" class="form-label">Descripcion</label>
                <textarea name="description" id="description" class="form-input <%= locals.errors && (errors.description && 'is-invalid') %>"
                  style="resize: none"><%= description %></textarea>
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.description && errors.description.msg) %>
                  </small>
              </div>

              <div class="col-12 col-md-6 register__box__cuerpo__contenido uno">
                <label for="image" class="form-label">Imagen Actual</label>
                <img src="/images/productos/<%= image || 'poncho.jpg' %>" alt="" name="image" class="card-img-top mb-5">

            </div>

              <div class="col-12 col-md-6 register__box__cuerpo__contenido uno gap-5 mb-5">
                <label for="image" class="btn btn-secondary">Cambiar Imagen</label>
                <input type="file" name="image" id="image" hidden>
                <button class="btn btn-outline-dark">Guardar</button>
                <button type="reset" class="btn btn-outline-dark">Borrar</button>
              </div>

            </form>
          
          <!--fin -->


        </div>

      </main>
      <%- include('partials/footer') %>
  </body>

</html>