<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

  <body>

    <%- include('partials/header') %>

      <main class="login">
        <div class="login__box">

          <div class="login__box__encabezado">

            <a href="/" class="rotate-scale-up-ver"><img src="/images/celstecortado.jpg" alt=""></a>
            <h4 class="animate__animated animate__flash">EDICION PRODUCTOS</h4>

          </div>
          <!--Inicio -->
          
            <form action="/products/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="register__box__cuerpo container">

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="title" class="form-label">Nombre del Producto</label>
                <input type="text" class="form-input" id="title" placeholder="Nombre del Producto" name="title" value="<%= title %>">
                <small class="text-danger ms-2">
                  <%= locals.errors && (errors.title && errors.title.msg) %>
                </small>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="category" class="form-label">Categoria</label>
                <select class="form-input" aria-label="Default select example" name="category" id="category">
                  <option value="<%= categories.title %>" selected hidden>Seleccione ....</option>
                  <% categories.forEach(item=> { %>
                    <option <%=item.title===category && 'selected' %> value="<%= item.title%>"><%= item.title%>
                    </option>
                    <% }) %>
                </select>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="region" class="form-label">Region</label>
                <select class="form-input" aria-label="Default select example" name="region" id="region">
                  <option value="<%= region.title %>" selected hidden>Seleccione ....</option>
                  <% regiones.forEach(item=> { %>
                    <option <%=item.title===region && 'selected' %> value="<%= item.title %>"><%= item.title %>
                    </option>
                    <% }) %>
                </select>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="character" class="form-label">Caracteristica</label>
                <select class="form-input" aria-label="Default select example" name="character" id="character">
                  <option value="<%= region.title %>" selected hidden>Seleccione ....</option>
                  <% characters.forEach(item=> { %>
                    <option <%=item.title===character && 'selected' %> value="<%= item.title %>"><%= item.title %>
                    </option>
                    <% }) %>
                </select>
                
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="price" class="form-label">Precio</label>
                <input type="number" class="form-input" id="price" placeholder="Precio" name="price"
                  value="<%= price %>">
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.price && errors.price.msg) %>
                  </small>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="discount" class="form-label">Descuento</label>
                <input type="number" class="form-input" id="discount" placeholder="Descuento" name="discount"
                  value="<%= discount %>">
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="cant" class="form-label">Cantidad Disponible</label>
                <input type="number" class="form-input" id="cant" placeholder="Cantidad Disponible" name="cant"
                  value="<%= cant %>">
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.cant && errors.cant.msg) %>
                  </small>
              </div>

              <div class="col-12 col-md-6 mb-3 login__box__cuerpo__contenido uno">
                <label for="canntkMin" class="form-label">Cantidad Minima</label>
                <input type="number" class="form-input" id="cantMin" placeholder="Cantidad Minima" name="cantMin"
                  value="<%= cantMin %>">
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.cantMin && errors.cantMin.msg) %>
                  </small>
              </div>


              <div class="col-12 mb-3 login__box__cuerpo__contenido dos">
                <label for="description" class="form-label">Descripcion</label>
                <textarea name="description" id="description" class="form-input"
                  style="resize: none"><%= description %></textarea>
                  <small class="text-danger ms-2">
                    <%= locals.errors && (errors.description && errors.description.msg) %>
                  </small>
              </div>

              <div class="col-12 col-md-6 register__box__cuerpo__contenido uno">
                <label for="image" class="form-label">Imagen Actual</label>
                <img src="/images/productos/<%= image || 'poncho.jpg' %>" alt="" name="image" class="card-img-top mb-5">

            </div>

              <div class="col-12 col-md-6 register__box__cuerpo__contenido uno gap-5 mb-5">
                <label for="image" class="btn btn-secondary">Cambiar Imagen</label>
                <input type="file" name="image" id="image" hidden>
                <button class="btn btn-outline-dark">Guardar</button>
                <button type="reset" class="btn btn-outline-dark">Borrar</button>
              </div>

            </form>
          
          <!--fin -->


        </div>

      </main>
      <%- include('partials/footer') %>
  </body>

</html>