<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
        <section>
            <div class="main-producdetalles__div">

                <div class="Box-img-div">
                    <div class="img-detail">
                        <img src="/images/productos/<%= images.find(image => image.main).file || 'producto-sin-imagen.png' %>" alt="" class="img--trajeta">
                    </div>

                    <div class="div--imgs--detail">
                        <% images.filter(image => !image.main).forEach(image => { %>
                            <img src="/images/productos/<%= image.file %>"
                            style="width: 15%" alt="...">
                        <% }) %>
                    </div>
                </div>
                
                <div class="n2">
                    <div class="Producto-precio__nombre">
                        <h2 class="detail--h4"><%= title %></h2>
                        <div class="detail--price-discount__box">                
                            <% if (discount) { %>
                                <p class="detail--p text-decoration-line-through fs-4">$<%= toThousand(price) %></p>
                                <p class="detail--space__p">/</p>
                                <p class="detail--discount__p "> <%= discount %>% OFF</p>
                            <% } %>
                        </div>
                        <div class="detail--div__box">
                            <h4 class="detail--pricefinal__h4 fs-3">Precio final : $<%= toThousand((price - (price * discount / 100)).toFixed(0)) %></h4>
                        </div>
                    </div>

                    <p class="productos__detalles"><%= description %></p>

                    <button onclick="addItemToCart(1,'<%=id%>')" class="btn btn-dark">Comprar</button>

                    <div class="Producto-comprar__carrito">
                        
                    </div>
                </div>
               
            </div>
            <h3 class="Detail--Products--Related--info--title-h3">Productos Relacionados</h3>
            <section class="Products--Related--box">
                
                <% productsRelated.filter( product => product.sectionId == sectionId).forEach(({id,title,price,images,discount, section, description}) => { %>
                    <div class="Products--Related--div">
                        <div class="Products--Related--img">
                            <a href="/products/detail/<%= id %>"><img src="/images/productos/<%= images.find(image => image.main).file || 'producto-sin-imagen.png' %>" alt=""></a>
                        </div>
                        <div class="Products--Related--info">
                            <h5 class="Detail--Products--Related--info--title"><%= title %></h5>
                            <% if (discount) { %>
                                <p class="Detail--Products--Related--info">$<%= toThousand(price) %></p>
                                <div class="Detail--Products--Related--info-box">
                                    <p class="Detail--Products--Related--info-price" > <%= toThousand((price - (price * discount / 100)).toFixed(0)) %></p>
                                    <p class="Detail--Products--Related--info-espace">/</p>
                                    <p class="Detail--Products--Related--info-discount"> <%= discount %>% OFF</p>
                                </div>
                            <% } %>
                            <% if (!discount) { %>
                                <p class="Detail--Products--Related--info-price"> <%= toThousand((price - (price * discount / 100)).toFixed(0)) %></p>
                                <p class="Detail--Products--Related--info-description"><%= description %></p>
                            <% } %>
                        </div> 
                    </div>           
            <% }) %>
            </section>
        </section>
    </main>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>

</html>