<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main class="register">
        <div class="register__box">

            <div class="register__box__encabezado">
    
                <a href="/" class="rotate-scale-up-ver"><img src="/images/celstecortado.jpg" alt=""></a>
                <h4 class="animate__animated animate__flash">Modificar Perfil de <%= userLogin.name %></h4>
    
            </div>
    
            <form action="/users/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="register__box__cuerpo row">
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="name">Nombe</label>
                    <input id="name" placeholder="Escriba su nombre" type="text" name="name" class="form-input" value="<%= name %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.name && errors.name.msg) %>
                      </small>
                      
                </div>
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="surname">Apellido</label>
                    <input id="surname" placeholder="Escriba su apellido" type="text" name="surname" class="form-input" value="<%= surname %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.surname && errors.surname.msg) %>
                      </small>
                </div>
    
                <div class="register__box__cuerpo__contenido dos">
                    <label for="address">Direccion</label>
                    <input id="address" placeholder="Calle y Numero" type="text" name="address" class="form-input" value="<%= address %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.address && errors.address.msg) %>
                      </small>
                </div>

                <div class="register__box__cuerpo__contenido uno">
                    <label for="birthday">Fecha de nacimiento</label>
                    <input id="birthday" type="date" name="birthday" class="form-input" value="<%= birthday %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.birthday && errors.birthday.msg) %>
                      </small>
                </div>

                <div class="register__box__cuerpo__contenido uno">
                    <label for="city">Ciudad</label>
                    <input id="city" placeholder="Escriba su Ciudad" type="text" name="city" class="form-input" value="<%= city %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.city && errors.city.msg) %>
                      </small>
                </div>

                <div class="register__box__cuerpo__contenido uno">
                    <label for="province">Provincia</label>
                    <input id="province" placeholder="Escriba su Provincia" type="text" name="province" class="form-input" value="<%= province %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.province && errors.province.msg) %>
                      </small>
                </div>

                <div class="register__box__cuerpo__contenido uno">
                    
                    <label for="image" class="btn btn-secondary">Agregar Imagen</label>
                    <input type="file" name="image" id="image" hidden>

                </div>
    
                <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                    <button type="submit" class="btn btn-outline-dark">Guardar Cambios</button>
                    <button type="reset" class="btn btn-outline-dark">Borrar</button>
                  </div>

            </form>
    
        </div>
    
    </main>


    <%- include('partials/footer') %>
</body>
</html>