<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main class="register">
        <div class="register__box">

            <div class="register__box__encabezado">
    
                <a href="/" class="rotate-scale-up-ver"><img src="/images/celstecortado.jpg" alt=""></a>
                <h4 class="animate__animated animate__flash">REGISTRO USUARIOS</h4>
    
            </div>
    
            <form action="" method="POST" enctype="multipart/form-data" class="register__box__cuerpo row">
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="name">Nombe</label>
                    <input id="name" placeholder="Escriba su nombre" type="text" name="name" class="form-input" value="<%= locals.old && (old.name && old.name) %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.name && errors.name.msg) %>
                    </small>
                </div>
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="surname">Apellido</label>
                    <input id="surname" placeholder="Escriba su apellido" type="text" name="surname" class="form-input" value="<%= locals.old && (old.surname && old.surname) %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.surname && errors.surname.msg) %>
                      </small>
                </div>
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="email">Email</label>
                    <input id="email" placeholder="Escriba su email" type="email" name="email" class="form-input" value="<%= locals.old && (old.email && old.email) %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.email && errors.email.msg) %>
                      </small>
                </div>

               <!-- <div class="register__box__cuerpo__contenido uno">
                    <label for="category">Categoria</label>
                    <input id="category" placeholder="Usuario/Administrador" type="category" name="category" class="form-input">
                </div>-->
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="password" class="labels-forms">Contrase単a</label>
                    <input id="password" type="password" placeholder="Escriba su contrase単a" name="password"
                    class="form-input" value="<%= locals.old && (old.password && old.password) %>">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.password && errors.password.msg) %>
                    </small> 
                </div>
    
                <div class="register__box__cuerpo__contenido uno">
                    <label for="password2" class="labels-forms">Confirmar Contrase単a</label>
                    <input id="password2" type="password" placeholder="Confirmar su contrase単a" name="password2"
                        class="form-input">
                    <small class="text-danger ms-2">
                        <%= locals.errors && (errors.password2 && errors.password2.msg) %>
                    </small>    
                </div>

                <div class="register__box__cuerpo__contenido uno">
                    
                    <label for="image" class="btn btn-secondary">Agregar Imagen</label>
                    <input type="file" name="image" id="image" hidden>

                </div>
    
                <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                    <!--<label for="image" class="btn btn-secondary">Agregar Imagen</label>
                    <input type="file" name="image" id="image" hidden>-->
                    <button type="submit" class="btn btn-outline-dark">Guardar</button>
                    <button type="reset" class="btn btn-outline-dark">Borrar</button>
                  </div>

              <!--  <div class="register__box__cuerpo__bottom">
                    <button type="submit" class="buttom-forms"><a href="/">Enviar</a></button>
                    <button type="reset" class="buttom-forms">Borrar</button>
                </div>-->
    
            </form>
    
        </div>
    
    </main>
  <%- include('partials/footer') %>
</body>

</html>