<section class="contenedor--tarjetas-index">  
        <article class="tarjeta--individual-index">
            <!--<img class="img--trajeta" src="<%= image %>" alt="">-->
            <img class="img--trajeta" src="/src/public/images/poncho.jpg" alt="">
            <h4 class="titulo--tarjeta"><%= title %></h4>            
            <p class="precio--tarjeta"><%= price %></p>
            <p class="categoria"><%= character %></p>
            <button class="boton--tarjeta"><a href="/products/detail/<%= id %>">VER MAS</a></button>
        </article>  
</section>    