<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    
  <div class="">
    <a class="btn btn-outline-dark " href="/users/register">Carga de Usuarios</a>
  </div>

  <div class="table-responsive">

    <table class="table table-hover">
      
      <thead>
        
        <tr>
          
          <th scope="col">Orden</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Categotia</th>
          <th scope="col">Email</th>
          
          <th scope="col">Acciones</th>
        
        </tr>
      
      </thead>
      
      <tbody>

        <% users.forEach(({id, name, surname, role, email, image}, index) => { %>
           
          <tr>
            
            <th scope="row"><%= index + 1 %></th>
            <td><%= name %></td>
            <td><%= surname %></td>
            <td><%= role %></td>
            <td><%= email %></td>
            
            
            <td>
              
              <div class="d-flex gap-2">
                
                
              <!--Seccion Detalles-->

              <a class="" href="/users/detail/<%= id %>"></a>
      
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#detailRegister<%= id %>">
                <i class="fas fa-eye"></i>
              </button>

              <!-- Modal -->
              
              <div class="modal fade" id="detailRegister<%= id %>" tabindex="-1" aria-labelledby="detailRegister<%= id %>" aria-hidden="true">
                
                <div class="modal-dialog modal-dialog-centered">
                  
                  <div class="modal-content">
                    
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="detailRegister<%= id %>"><%= role %> :   <%= name %> <%= surname%></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <div class="modal-body">

                      <!-- Inicio Card -->
                      <div class="card mb-3" style="max-width: 540px;">
                        
                        <div class="row g-0">
                          
                          <div class="col-md-6">
                            <img src="/images/usuarios/<%= image || 'perfil.png' %>" class="img-fluid rounded-start" alt="...">
                          </div>
                          
                          <div class="col-md-6">
                            
                            <div class="card-body">
                              <h5 class="card-title"><%= name %> <%= surname %></h5>
                              <p class="card-text"><%= email %></p>
                              <p class="card-text"><%= role %></p>
                              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            </div>
                          
                          </div>
                        
                        </div>
                      
                      </div>
                      <!-- Fin Card -->

                    </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  
                  </div>
                
                </div>
              
              </div>
              
              <!-- FIN Modal -->

              <a class="btn btn-sm btn-success" href="/users/edit/<%= id %>"><i class="fas fa-edit"></i></a>

              <!--Seccion Borrado-->
                
              <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#removeRegister<%= id %>">
                                          
                <i class="fas fa-trash"></i>
      
              </button>
          
              <!-- Modal -->
      
              <div class="modal fade" id="removeRegister<%= id %>" tabindex="-1" aria-labelledby="removeRegister<%= id %>Label" aria-hidden="true">
          
                <div class="modal-dialog modal-dialog-centered">
              
                  <div class="modal-content">
                  
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="removeRegister<%= id %>Label">ADVERTENCIA</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                  
                    <div class="modal-body">
                      <p>Estás seguro que querés eliminar el producto <b><%= name %></b></p>                                             
                    </div>
                  
                    <div class="modal-footer">
                      
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      
                      <form action="/users/remove/<%= id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Eliminalo</button>
                      </form>
                    
                    </div>
              
                  </div>
          
                </div>
      
              </div>
            
            </td>
          
          </tr>

          <% }) %>
          
                  
      </tbody>
      
    </table>
    
  </div>

</div>